html,body{
	width: 100%;
	height: 100%;
	background: linear-gradient(to left, #212333, #432132);
}

*{
	margin: 0;
	padding: 0;
	border: 0;
}

svg{
	margin: auto;
	border:solid 2px #cb374e;
}

input{
	border:solid 1px white;
	width: 50%;
	height: 30px;
	margin-top: .5em;
}

.warpper{
	width: 100%;
	height: 100%;
	border:solid 1px black;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-around;
}

.info{
	width: 80%;
	display: flex;
	flex-flow: column;
	align-items: center;
	color: white;
	margin-top: 1em;
}

.bottom-info{
	margin-bottom: 1em;
	color: #cb374e;
	width: 100%;
	display: flex;
	align-items: center;
	flex-flow: column;
}